* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    text-align: center;
    background-color: black;
}

h1 {
    font-size: 50px;
    color: white;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

p {
    color: gray;
    font-size: 21px;
}

.footer {
    text-align: right;
}

a {
    font-size: 16px;
    color: aquamarine;
}