* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    text-align: center;
    background-color: black;
}

h1 {
    font-size: 50px;
    color: white;
}

p {
    font-size: 16px;
    color: aquamarine;
}

